# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# PyInstaller
build/
dist/
*.spec

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
log/
*.log

# Env/config
.env

# # private data
# data/

# old code
old/